<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
</head>

<body>
<!--	<img src="../../../static/images/realtyCard.jpg" width="1434" height="968" alt=""/>-->
	<!--<img src="../../../static/images/realtyCardL.jpg" width="1091" height="737" alt=""/>-->
	
	<b><span lang=EN-US style='font-size:19.0pt; font-family:宋体; position: absolute; top: 399px; left: 848px;'>{{realty.certificateText}}</span></b>
	<b><span lang=EN-US style='font-size:19.0pt; font-family:宋体; position: absolute; top: 399px; left: 1048px;'>{{realty.certificateNum}}</span></b>
	<b><span lang=EN-US style='font-size:21.0pt; font-family:宋体; position: absolute; top: 464px; left: 418px;'>{{realty.institutionName}}</span></b>
	<b><span lang=EN-US style='font-size:21.0pt; font-family:宋体; position: absolute; top: 524px; left: 418px;'>{{realty.officeAddress}}</span></b>
	<b><span lang=EN-US style='font-size:21.0pt; font-family:宋体; position: absolute; top: 589px; left: 418px;'>{{realty.lawPerson}}</span></b>
	<b><span lang=EN-US style='font-size:19.0pt; font-family:宋体; position: absolute; top: 649px; left: 418px;'>{{realty.vilidityDateStart.year}}</span></b>
	<b><span lang=EN-US style='font-size:19.0pt; font-family:宋体; position: absolute; top: 649px; left: 535px;'>{{realty.vilidityDateStart.month}}</span></b>
	<b><span lang=EN-US style='font-size:19.0pt; font-family:宋体; position: absolute; top: 649px; left: 628px;'>{{realty.vilidityDateStart.day}}</span></b>
	<b><span lang=EN-US style='font-size:19.0pt; font-family:宋体; position: absolute; top: 649px; left: 762px;'>{{realty.vilidityDateEnd.year}}</span></b>
	<b><span lang=EN-US style='font-size:19.0pt; font-family:宋体; position: absolute; top: 649px; left: 883px;'>{{realty.vilidityDateEnd.month}}</span></b>
	<b><span lang=EN-US style='font-size:19.0pt; font-family:宋体; position: absolute; top: 649px; left: 978px;'>{{realty.vilidityDateEnd.day}}</span></b>
	<b><span lang=EN-US style='font-size:19.0pt; font-family:宋体; position: absolute; top: 765px; left: 918px;'>{{localDate.tm_year}}</span></b>
	<b><span lang=EN-US style='font-size:19.0pt; font-family:宋体; position: absolute; top: 765px; left: 1031px;'>{{localDate.tm_mon}}</span></b>
	<b><span lang=EN-US style='font-size:19.0pt; font-family:宋体; position: absolute; top: 765px; left: 1111px;'>{{localDate.tm_mday}}</span></b>
</body>
</html>
